* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Proxima Semi";
    src: url(./assets/fonts/Proxima\ nova\ semi-bold.otf);

}

:root {
    --primary-Btn-color: #FD7817;
    --primary-input-bg-color: #F6F6F6;
    --form-heading-color: #151313;
    --primary-dark-color: #000000;
    --primary-light-color: #ffffff;
    --font-size-six: 16px;
    --font-size-fourt: 14px;
    --font-size-tf: 24px;
    --font-family-arial: "Arial";
    --font-family-proxima-semi: "Proxima Semi"
}

header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
    /* background-color: #FD7817; */
    font-family: var(--font-family-arial);
}

header .logo {
    height: 66px;
}

.number {
    width: auto;
    display: flex;
    align-items: center;
    gap: 34px;
}

.number img {
    height: 16px;
}

.number span {
    font-size: var(--font-size-six);
}

.number button {
    /* width: 140;
    height: 47px; */
    color: var(--primary-Btn-color);
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-Btn-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    font-family: var(--font-family-arial);
}

.container-fluid {
    height: 638px;
}

/* Residential section */
.residential-sec {
    font-family: var(--font-family-arial);
}

#res-para {
    font-size: 16px;

}

.residential-sec button {
    color: var(--primary-light-color);
    background-color: var(--primary-Btn-color);
    border: 1px solid var(--primary-Btn-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    margin-right: 20px;

}

#img1 {
    height: 500px;
}

/* dumpster rental */


/* .rental .headings{
    width: auto;
    height: 106px; */
/* } */
/* #ren-para{
    margin-left: 150px;
} */

/* .rental .col-6{
    width: 100%;
} */

.ren-img1 {
    height: 500px;
    background-size: cover;
    border-radius: 26px;
    background-image: url(./assets/Frame\ 38.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 20px;
    padding-bottom: 20px;
    color: var(--primary-light-color);
    font-family: var(--font-family-arial);
    font-size: var(--font-size-six);
}

.ren-img2 {
    height: 500px;
    border-radius: 26px;
    background-image: url(./assets/Frame\ 48.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 20px;
    color: var(--primary-light-color);
    font-family: var(--font-family-arial);
    font-size: var(--font-size-six);
    padding-bottom: 20px;
}

.ren-img1 button {
    color: var(--primary-light-color);
    background-color: var(--primary-Btn-color);
    border: 1px solid var(--primary-Btn-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    margin-right: 20px;
}

.ren-img2 button {
    color: var(--primary-light-color);
    background-color: transparent;
    border: 1px solid var(--primary-light-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    margin-right: 20px;
}

/* preview Section */

.preview {
    color: white;
    height: auto;
    width: auto;
}

.pre-content {
    width: auto;
    height: 400px;
    padding: 80px 0px 0 0px;
}

.pre-content p {
    font-size: var(--font-size-fourt);
}

.pre-img {
    height: 396px;
    width: 1420px;
    /* border-radius: 26px; */
    background-image: url(./assets/end\ image.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}

.pre-img2-parent {
    position: relative;
}

.pre-img2 {
    position: absolute;
    right: 0;
    top: -5.5rem;
    /* background: linear-gradient((var(--primary-Btn-color) ),(#5A2600)); */
}

.preview button {
    color: var(--primary-light-color);
    background-color: var(--primary-Btn-color);
    border: 1px solid var(--primary-Btn-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    margin-right: 20px;
}

/* Footer */

.foot {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    font-size: var(--font-size-tf);
    /* font-family: ; */
}

#logo1 {
    width: 132px;
}

footer {
    height: 279px;
    /* width: 1440px; */
    background-color: var(--primary-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--primary-light-color);

}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    /* color:  var(--primary-Btn-color); */
    width: 24px;
    margin-bottom: 10px;
}

.line {
    width: 190px;
    border: 1px solid #4C4C4C;
}

.copy-right {
    font-size: var(--font-size-six);

}


#mob-call {
    display: none;
}


@media screen and (max-width:768px) {

    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .mob-view1 {
        width: 100%;
    }

    .mob-view1 #span1 {
        display: flex;
        align-items: center;
    }

    #web-call {
        display: none;
    }

    #mob-call {
        display: inline;
        margin: 10px;
    }

    #img1 {
        height: 320px;
    }
}