* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-Btn-color: #FD7817;
    --primary-input-bg-color: #F6F6F6;
    --form-heading-color: #151313;
    --primary-dark-color: #000000;
    --primary-light-color: #ffffff;
    --font-size-six: 16px;
    --font-family-arial:"Arial";
}

header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
    /* background-color: #FD7817; */
    font-family: var(--font-family-arial);
}

header .logo {
    height: 66px;
}

.number {
    width: auto;
    display: flex;
    align-items: center;
    gap: 34px;
}

.number img {
    height: 16px;
}

.number span {
    font-size: var(--font-size-six);
}

.number button {
    /* width: 140;
    height: 47px; */
    color: var(--primary-Btn-color);
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-Btn-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    font-family: var(--font-family-arial);
}

.container-fluid {
    height: 638px;
}

/* Residential section */
.residential-sec{
    font-family: var(--font-family-arial);
}
#res-para{
    font-size: 16px;
   
}

.residential-sec button {
    color: var(--primary-light-color);
    background-color: var(--primary-Btn-color);
    border: 1px solid var(--primary-Btn-color);
    border-radius: 10px;
    padding: 10px 39px;
    font-size: var(--font-size-six);
    margin-right: 20px;
   
}

#img1{
    height: 500px;
}

/* dumpster rental */
.rental .headings{
    width: auto;
    height: 106px;
}
#ren-para{
    /* margin-left: 150px; */
}
#mob-call{
    display: none;
}


@media screen  and (max-width:768px){
    html,body{
        overflow-x: hidden;
        width: 100%;
    }
    .mob-view1{
        width: 100%;
    }
    .mob-view1 #span1{
        display: flex;
        align-items: center;
    }
    #web-call{
        display: none;
    }
    #mob-call{
        display: inline;
        margin: 10px;
    }
    #img1{
        height: 320px;
    }
}